@require '~@/styles'

.toolbar
  display: flex
  flex-direction: column
  background: #f9fafb
  border: 1px solid rgba(62,57,107,0.1)
  border-radius: qu(1)

  @media screen and (max-width 767px)
    width: qu(70)
    flex-direction: row

.item
  flex: 1
  font-size: 16px
  color: $G90
  padding: 10px 14px
  text-align: center

  &:not(:last-child)
    border-bottom: 1px solid rgba(62,57,107,0.1)
    @media screen and (max-width 767px)
      border: none
      border-right: 1px solid rgba(62,57,107,0.1)

.export
  &-textarea
    margin-top: qu(7)

  &-icon
    display: inline-block
    margin-right: qu(4)
