.card
    margin-bottom: 1.25rem

    button:not(:last-child)
        margin-bottom: 8px

.form-item
    margin-bottom: 8px
    &:last-child
        margin-bottom: 0

.export
  &-textarea
    margin-top: 2rem
  
  &-icon
    display: inline-block
    margin-right: 1em