@require '~@/styles'

.left-pad
  padding: 24px 8px
  overflow: auto
  height: 100%

.card
  margin-bottom: qu(4)

  button:not(:last-child)
    margin-bottom: qu(2)

  a:not(:last-child)
    margin-bottom: qu(2)

.form-item
  margin-bottom: qu(2)
  &:last-child
    margin-bottom: 0

.export
  &-tips
    padding-left: qu(5)
    margin: 1.2em 0
    border-left: 4px solid $Main
    font-size: 12px
    color: $G90

  &-textarea
    margin-top: qu(7)

  &-icon
    display: inline-block
    margin-right: qu(4)


.clearfix:after
    content: ' '
    height: 0
    display: block
    clear: both

.ph-button
.bmc-button
  display: flex
  justify-content: center
  align-items: center
  height: 36px
  line-height: 36px
  border-radius: 4px
  font-weight: 500
  font-family: Helvetica,Century Gothic,sans-serif

  img
    width: 22px
    height: 15px
    margin-right: 4px
    vertical-align: middle

.bmc-button
  color: #fff
  background: #29abe0
  &:hover
  &:active
  &:focus
    color: #fff
    background: alpha(#29abe0, .85)


.ph-button
  box-shadow: -1px 1px 0 alpha(#24273f, .5)
  &:hover
  &:active
  &:focus
    color: #000
