@require '~@/styles'

.card
  margin-bottom: qu(4)

  button:not(:last-child)
    margin-bottom: qu(2)

.form-item
  margin-bottom: qu(2)
  &:last-child
    margin-bottom: 0

.export
  &-textarea
    margin-top: qu(7)
  
  &-icon
    display: inline-block
    margin-right: qu(4)