@require '~@/styles'

.profile
  height: qu(75)
  padding: qu(17.5) 0 qu(20) 0

.avatar
  display: block
  margin-left: auto
  margin-right: qu(8)

  height: qu(37.5)
  width: qu(37.5)
  border-radius: 50%
  border: 1px solid alpha(black, 0.05)

.info
  padding-left: qu(6)

  .title
    &-name
      font-size: qu(10)
      font-weight: 700
      line-height: 1.2

    &-more
      margin-top: qu(2)
      button
        margin-right: qu(2)

  .desc
    margin-top: qu(2)
    font-size: $base-font-size
    line-height: 1.6
    color: $G100

@media screen and (max-width: 750px) {
  .profile {
    height: qu(25)
    padding: qu(5) 0
  }

  .avatar {
    margin-left: auto
    width: qu(16)
    height: qu(16)
  }

  .info {
    padding: 0
    .title-name {
        font-size: 16px
        font-weight: 500
        margin-right: qu(2)
    }
    .title-more {
      padding: 0
    }
  }

  .desc {
    display: none
  }
}
