@require '~@/styles'

.container
  @media screen and (min-width 768px)
    .notice-bar
      display: none

.content
  display: flex
  flex-direction: column
  align-items: center
  overflow-y: initial
  padding-left: 280px
  padding-right: 280px
  background: #fdfdfd

  @media screen and (max-width 992px)
    padding-left: 0
    padding-right: 0

.core
  position: relative
  display: flex
  flex-direction: column
  align-items: center
  margin-top: 90px
  padding: 0 56px
  min-height: calc(100vh - 72px - 90px)

.toolbar
  position: absolute
  top: 0
  left: 0 - qu(5)

  @media screen and (max-width 767px)
    top: 0 - qu(15)
    left: qu(14)

.sidebar
  background: #f9fafb
  position: fixed
  top: 72px
  bottom: 0
  box-shadow: 0 1px 1px 0 rgba(62,57,107,0.2)
  z-index: 200

  &:first-child
    left: 0
  &:last-child
    right: 0

  &-wrapper
    padding: 24px 16px
    overflow: auto
    height: 100%

  &-tips
    display: flex
    height: 100%
    align-items: center
    color: $G70
    font-size: medium
    text-align: center

:global(.ant-layout-sider-zero-width-trigger)
  top: 40px

:global(.ant-layout-sider-zero-width-trigger-right)
  border-radius: 4px 0 0 4px
