@require '~@/styles'

.header
  width: 100%
  padding: 0 qu(10)
  height: qu(18)
  line-height: qu(18)
  font-size: qu(4)
  background: rgba(255, 255, 255, 0.97)
  box-shadow: 0 1px 0 #e5e5e5

  @media screen and (max-width 800px)
    padding: 0 qu(7)

  img
    height: qu(10)
    width: auto
  
  span 
    display: inline-block
    margin-left: 1.25em
    color: #c3c3c3

  .social
    display: inline-block
    float: right

    a
      margin-left: 1.2rem