@require '~@/styles'

.placeholder
  margin: 8rem auto
  width: 20rem
  text-align: center

  h3
    margin-bottom: 2rem
    color: $Main

.palettes
  margin: 0 auto
  margin-top: 0 - qu(5)
  margin-left: 0 - qu(5)
  margin-bottom: qu(10)

.item
  margin-top: qu(5)
  margin-left: qu(5)
  width: 260px
  height: 210px

.title
  display: block
  line-height: qu(14)
