@require '~@/styles'

.footer
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

  width: 100%
  margin-top: qu(15)
  margin-bottom: qu(10)

  text-align: center


.divider
  max-width: 800px

.logo
  height: qu(10)
  width: auto
