@require './styles'

html
body
  margin: 0
  padding: 0
  color: $base-font-color
  font: $base-font-size/$base-line-height $base-font-face
  -webkit-font-smoothing: antialiased

a
  color: inherit
  text-decoration: none
